<h6 color = "red"><%= @message %></h6>
<div class = "login-container" style="top: 10vh; left: 43vw;">
<form action="<%= @link %>/login" method="post">
  <p><input type="text" name="userId" placeholder="Username"/></p>
  <p><input type="password" name="password" placeholder="Password"/></p>
  <br><input type="submit" name="" value="Login">
</form>
</div>
