<h6 color = "red"><%= @message %></h6>
<div class = "signup-info" style="top: 10vh; left: 42vw">
<form class="signup-form" action="<%= @link %>/register" method="post">
  <p><input type="text" name="firstName" placeholder="First Name"/></p>
  <p><input type="text" name="lastName" placeholder="Last Name"/></p>
  <p><input type="text" name="userId" placeholder="Username"/></p>
  <p><input type="password" name="password" placeholder="Password"/></p>
  <p><input type="submit" name="" value="Register"></p>
</form>
</div>
